<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snadder.game">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- OpenGL ES 2.0 requirement -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Snadder Game"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:hardwareAccelerated="true">

        <activity
            android:name=".SnadderGame"
            android:label="Snadder Game"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode"
            android:screenOrientation="landscape"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Tell SDL to keep activity alive -->
            <meta-data
                android:name="SDL_ENV.SDL_ACCELEROMETER_AS_JOYSTICK"
                android:value="0" />
        </activity>
    </application>

</manifest>
